:root {
  --alabaster: #e0e2dbff;
  --timberwolf: #d2d4c8ff;
  --ash-gray: #b8bdb5ff;
  --spanish-gray: #889696ff;
  --xanadu: #5f7470ff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-size: 10px;
  color: black;
  background-color: var(--ash-gray);
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

.jumbotron {
  color: white;
  text-align: center;
  background-image: linear-gradient(
    to top,
    #b8bdb5,
    #a1aaa2,
    #8b9890,
    #75867f,
    #5f7470
  );
}

.row {
  border-radius: 20px;
}

textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.hour {
  background-color: var(--spanish-gray);
  border-radius: 20px 0 0 20px;
  text-align: center;
  color: white;
  padding: 1rem;
}
.diary-text {
  background-color: var(--timberwolf);
  padding: 1rem;
}
.save-btn {
  background-color: var(--xanadu);
  border-radius: 0 20px 20px 0;
  text-align: center;
  padding: 1rem;
}

.fas {
  color: white;
}
